:host {
  display: block;
}

.hero {
  background-color: grey;
  // background-image: url('/images/hero.webp');
  background-size: cover;
  background-position: top;
  min-height: 300px;
  height: 25vw;
  width: 100vw;
}
