.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #CCC;
  color: #333;
  padding: .5rem;
  font-size: 1rem;
  min-height: 52px;
}

nav, .user-info__details {
  display: flex;
  gap: .5rem;
  align-items: center;
}

a {
  padding: 3px;
}

a:hover {
  background-color: white;
}

button {
  background-color: black;
  color: white;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.role {
  padding: 3px;
  margin-left: 5px;
  background-color: #DDD;
  border-radius: 5px;
}
