<div
  class="hero"
  [ngClass]="cssClass"
  [ngStyle]="backgroundImage ? {'background-image': 'url(' + backgroundImage + ')'} : {}"
>

  <div class="hero__text">
    <ng-container [ngSwitch]="headingLevel">
      <h1 class="title" *ngSwitchCase="'h1'">{{ title }}</h1>
      <h2 class="title" *ngSwitchCase="'h2'">{{ title }}</h2>
      <h3 class="title" *ngSwitchCase="'h3'">{{ title }}</h3>
      <span class="title" *ngSwitchDefault>{{ title }}</span> <!-- Default case if no heading level is specified -->
    </ng-container>
  </div>

</div>
