.search-input {
  display: flex;
  gap: 0.5rem;
}

input {
  border: solid inset;
  padding: 0.5rem;

}

label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.25rem;
}

