<div class="container">
  <h2>Events</h2>

  <div class="actions">
    @if (authStore.canCreateEvent()) {
      <a class="button" routerLink="/events/new">Create New Event</a>
    }

    <!-- If user has authority to moderate -->
    @if (authStore.canReviewEvents()) {
      <a class="button" routerLink="/events/review">Review Pending Events</a>
    }
  </div>

  <div *ngIf="eventStore.loading$$(); else eventList">
    Loading events...
  </div>

  <ng-template #eventList>
    <ul class="event-list" *ngIf="approvedEvents.length">
      <li *ngFor="let event of approvedEvents">
        <a class="event-list__item" routerLink="/events/{{ event.slug }}">
          <h3>{{ event.title }}</h3>
          <small>{{ event.date }}</small>
        </a>
      </li>
    </ul>
  </ng-template>

  <div *ngIf="eventStore.error$$()">{{ eventStore.error$$() }}</div>
</div>

<!-- TODO: Pagination -->
