<div class="header">
  <!-- TODO: Fetch from CMS -->
  <!-- TODO: Only make it a link if its not on the homepage -->
  <a routerLink="/" class="header__title">
    Black Prostate Cancer Network
  </a>
</div>
<nav>
  <a routerLink="/events">Events</a>
  <a routerLink="/site-map">Site map</a>

  @if (pageStore.primaryNavPages$$().length) {
    <ng-container *ngFor="let page of pageStore.primaryNavPages$$()">
      <a [routerLink]="page.slug">{{ page.title }}</a>
    </ng-container>
  }

  <!-- TODO: Handle selected -->
</nav>
