.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.header__title {
  font-size: 1.5rem;
  text-decoration: none;
}

nav {
  background-color: #444;
  color: white;
  display: flex;
  padding: 1rem;
  gap: .75rem;
}

ul {
  @media (min-width: 500px) {
    display: flex;
    gap: 1rem;
  }
}

a {
  text-decoration: underline;
}

a:hover {
  background-color: white;
  color: #333;
}
