
<!-- TODO: Type up the JSON response -->
  <!-- Consider best practice with how to handle wysisqyg -->
   <!-- TODO: Fix the routing -->
    <!-- TODO: Work out if it should be /about or how pages/about goes to about -->

<h1>Page</h1>
<div *ngIf="pageStore.loading$$(); else pageContent">Loading...</div>

<ng-template #pageContent>
  <article *ngIf="pageStore.page$$(); else errorContent">
    <h1>{{ pageStore.page$$()?.title }}</h1>

    <ng-container *ngIf="pageStore.page$$()?.content">
      <ng-container *ngFor="let block of pageStore.page$$()?.content">

        <p *ngIf="block.type === 'paragraph'">
          <span *ngFor="let child of block.children">

            <span *ngIf="!child.bold && !child.italic && !child.strikethrough">{{ child.text }}</span>
            <b *ngIf="child.bold">{{ child.text }}</b>
            <i *ngIf="child.italic">{{ child.text }}</i>
            <s *ngIf="child.strikethrough">{{ child.text }}</s>

          </span>
        </p>

        <h1 *ngIf="block.type === 'heading' && block.level === 1">
          <span *ngFor="let child of block.children">{{ child.text }}</span>
        </h1>
        <h2 *ngIf="block.type === 'heading' && block.level === 2">
          <span *ngFor="let child of block.children">{{ child.text }}</span>
        </h2>
        <h3 *ngIf="block.type === 'heading' && block.level === 3">
          <span *ngFor="let child of block.children">{{ child.text }}</span>
        </h3>

        <!-- Render an unordered list -->
        <ul *ngIf="block.type === 'list' && block.format === 'unordered'">
          <li *ngFor="let listItem of block.children">
            <span *ngFor="let child of listItem.children">{{ child.text }}</span>
          </li>
        </ul>

          <!-- Render an ordered list -->
        <ol *ngIf="block.type === 'list' && block.format === 'ordered'">
          <li *ngFor="let listItem of block.children">
            <span *ngFor="let child of listItem.children">{{ child.text }}</span>
          </li>
        </ol>
      </ng-container>
    </ng-container>
  </article>
  <ng-template #errorContent>
    <p>{{ pageStore.error$$() }}</p>
  </ng-template>
</ng-template>


