.event {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
  max-width: 50ch; // TODO: Set this as a variable
}

.event__metadata {
  padding: 1rem;
  background-color: rgba(black, .1);
}
