@import 'assets/styles/reset';

:root {
  --font-size: 16px;
  --background-color: #FFFFEE;
  --text-color: #333333;
  --line-height: 1.5;
  --letter-spacing: 0.2;

  --accent-color: #009999;
}

body {
  font-size: var(--font-size);
  // TODO: Reduce the font stack, just experimenting for now
  font-family: 'Atkinson Hyperlegible', 'Lexend', 'Helvetica', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 2rem;
}
