@use 'assets/styles/reset';

:root {
  --font-size: 16px;
  --background-color: #FFFFEE;
  --text-color: #333333;
  --line-height: 1.5;
  --letter-spacing: 0.2;
  --icon-size: calc(var(--font-size) * 1.5);
  --button-padding: calc(var(--font-size) * 0.5);

  --accent-color: #009999;
}

$TABLET-BREAKPOINT: 750px; // Q: Where should I centralise and get this from?
$DESKTOP-BREAKPOINT: 1024px; // Q: Where should I centralise and get this from?

body {
  font-size: var(--font-size);
  font-family: 'Atkinson Hyperlegible', 'Helvetica', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 2rem;
}

.nav-open {
  overflow: hidden; // Disable scrolling when menu is open
}

.hidden {
  display: none;
}

// This should be universal across the site where we want content limited to a max width
.content {
  width: 100%;
  max-width: 65ch;
  margin: 0 auto;
}

button {
  font-size: var(--font-size);
  padding: var(--button-padding);
}

// TODO: Style the icons to be relative to the css vars



// Backdrop (global definition)
.backdrop {
  position: fixed;
  // top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent grey
  z-index: 999; // Below overlays
}

// Overlay (global definition)
.overlay {
  background-color: white;
  color: black;
  position: fixed;
  width: 100%;
  padding: 1rem;

//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
  z-index: 1000; // Above backdrop
//   background: white;
//   border-radius: 8px;
//   padding: 20px;
//   width: 90%;
//   max-width: 600px;
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
