@import 'assets/styles/reset';

:root {
  --font-size: 16px;
  --background-color: #FFFFEE;
  --text-color: #333333;
  --line-height: 1.5;
  --letter-spacing: 0.2;

  --accent-color: #009999;
}

body {
  font-size: var(--font-size);
  font-family: 'Atkinson Hyperlegible', 'Helvetica', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: 2rem;
}


.nav-open {
  overflow: hidden; // Disable scrolling when menu is open
}

.hidden {
  display: none;
}

// This should be universal across the site where we want content limited to a max width
.content {
  width: 100%;
  max-width: 65ch;
  // border: dotted 1px red;
  margin: 0 auto;
}


article .event__content {
  h2, h3, h4 {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
